body {
    margin: 0
}

/* main {
    display: flex;
} */

.btn-group {
    z-index: 1;
    margin-left: 10px;
}
.bmd-btn-fab {
    background-color: #fff;
}

.shape {
    position: absolute;
}

#side-panel {
    width: 300px;
    height: 600px;
}

#canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

.square {
    background-color: #f44336;
}

.rectangle {
    background-color: #4caf50;
}

.triangle {
    border-color: #ffeb3b; 
}

.circle {
    background-color: #9c27b0;
    border-radius: 50%;
}

.side-panel-header {
    text-align: center;
    font-size: 3em;
    margin: 0;
    margin-bottom: 1em;
}
